*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family: sans-serif;
}
.big-container-web{
    display: grid;
    width: 1110px;
    height: 575px;
    gap: 30px;
    grid-template-columns: 540px 255px 255px;
    grid-template-rows: 282px 266px;
    background-color: #CFCFCF;
}
.box-purple{
    width: 540px;
    height: 282px;
    background-color: #733FC8;
    border-radius: 8px;
}